html
{
    margin: 0;
    padding: 0;
}

.uksw-container
{
    background-color: aqua;
    height: 100%;
    float: left;
    width: 50%;
}
.sgh-container
{
    background-color: yellow;
    height: 100%;
    float: right;
    width: 50%;
}
.university-name
{
    top:40px;
    text-align: center;
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.score
{
    text-align: center;
    font-size: 6em;
    margin-top: 20px;
}
#uksw-goal
{
    display: block;
    margin: auto;
    font-size: 3em;
    padding: 10px 30px;;
    
}
img
{
    display: block;
    width: 40%;
    margin: auto;
    
}
figure
{
    margin: auto;
}