html
{
    margin: 0;
    padding: 0;
}

.uksw-container
{
    background-color: aqua;
    height: 100%;
    float: left;
    width: 50%;
}
.sgh-container
{
    background-color: yellow;
    height: 100%;
    float: right;
    width: 50%;
}
.university-name
{
    text-align: center;
    font-size: 5em;
    margin-top: 
}